.tabs {
  display: flex;
  border-bottom: 1px solid #ccc;

  button {
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: bold;

    &.active {
      border-bottom: 2px solid #000;
    }
  }
}
